<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{general.title}">REPAIR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--<link rel="stylesheet" href="webtest.css">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
</head>

<body>
<div class="container">
    <div th:include="fragments/headers :: header-guest" th:remove="tag"></div>

    <div class="row">
        <div class="col">
            <br />
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span th:text="#{login.error}">{Login error}</span>
            </div>
            <div class="alert alert-success" role="alert" th:if="${logout}">
                <span th:text="#{login.logout}">{Logout ok}</span>
            </div>
            <div class="alert alert-success" role="alert" th:if="${reg}">
                <span th:text="#{reg.success}">{Reg ok}</span>
            </div>
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h1 th:text="#{index.welcome}">{Welcome header}</h1>

            <span th:text="#{index.intro}" th:remove="tag">{We do stuff}</span>
            <br /><br />
            <span th:text="#{index.sign-in-to-order}" th:remove="tag">{Cmon up}</span>
            <br /><br />

        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>
<script th:include="fragments/bootstrap :: js" th:remove="tag"></script>
</body>
</html>