<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Web Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="webtest.css">
</head>
<body>
<div class="column">
    <h1 th:text="#{lobby.welcome}">Header</h1>
    <div>
        <span th:text="#{lobby.language}" th:remove="tag">{Your language}</span>:
        <span th:text="${language.name}" th:remove="tag">{whatever locale is selected}</span>
    </div>
    <br />
    <div>
        <h3 th:text="#{users.header} + ':'">{Here goes user table}</h3>
        <table>
            <tr th:each="user : ${users}">
                <td>
                    👉 <span th:text="${user.firstName} + ' ' + ${user.lastName}" th:remove="tag">{Full user name}</span>
                    <br /><br />
                </td>
            </tr>
        </table>
    </div>
    <br />
    <div>
        <span th:text="#{general.placeholder}" th:remove="tag">{Under construction}</span>
    </div>
</div>
</body>
</html>