<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{general.title}">REPAIR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
</head>
<body>
<div class="container">
    <div th:include="fragments/headers :: header-user" th:remove="tag"></div>

    <div class="row">
        <div class="col">
            <br />
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span th:text="#{general.access_denied}">{Access denied}</span>
            </div>
            <div class="alert alert-success" role="alert" th:if="${order}">
                <span th:text="#{lobby.order.placed}">{Order OK}</span>
            </div>
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h3 th:text="#{lobby.welcome}">{Header}</h3>

            <a href="/order" th:text="#{lobby.order.place}">{New order}</a>

            <br /><br />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>
<script th:include="fragments/bootstrap :: js" th:remove="tag"></script>
</body>
</html>