<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{general.title}">REPAIR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
</head>
<body>
<div class="container">
    <div th:include="fragments/headers :: header-user" th:remove="tag"></div>

    <div class="row">
        <div class="col">
            <br />
            <div class="alert alert-danger" role="alert" th:if="${denied}">
                <span th:text="#{general.access_denied}">{Access denied}</span>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span th:text="#{lobby.order.error}">{Order not OK}</span>
            </div>
            <div class="alert alert-success" role="alert" th:if="${success}">
                <span th:text="#{lobby.order.saved}">{Order OK}</span>
            </div>
        </div>
    </div>

    <div class="row bg-light" th:if="${canPlaceNew}">
        <div class="col">
            <h3 th:text="#{lobby.welcome}">{Header}</h3>

            📥 <a href="/order" th:text="#{lobby.order.place}">{New order}</a>

            <br /><br />
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h3 th:text="#{lobby.order.active} + ':'">{Active orders table}</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{order.creation_date}">{Self-reference}</th>
                    <th th:text="#{order.item}">{Phone}</th>
                    <th th:text="#{order.status}">{Role}</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${activeOrders}" th:onclick="|window.location.href='/details?id=${order.id}'|">
                    <td>
                        <span th:text="${order.creationDate}" th:remove="tag">{Creation date}</span>
                    </td>
                    <td>
                        <span th:text="${order.item}" th:remove="tag">{Item}</span>
                    </td>
                    <td>
                        <span th:text="${order.status}" th:remove="tag">{Status}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h3 th:text="#{lobby.order.secondary} + ':'">{Seconrady orders table}</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{order.creation_date}">{Self-reference}</th>
                    <th th:text="#{order.item}">{Phone}</th>
                    <th th:text="#{order.status}">{Role}</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${secondaryOrders}" th:onclick="|window.location.href='/details?id=${order.id}'|">
                    <td>
                        <span th:text="${order.creationDate}" th:remove="tag">{Creation date}</span>
                    </td>
                    <td>
                        <span th:text="${order.item}" th:remove="tag">{Item}</span>
                    </td>
                    <td>
                        <span th:text="${order.status}" th:remove="tag">{Status}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>
<script th:include="fragments/bootstrap :: js" th:remove="tag"></script>
</body>
</html>