<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{general.title}">REPAIR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
</head>
<body>
<div class="container">
    <div th:include="fragments/headers :: header-user" th:remove="tag"></div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h3 th:text="#{order.details.welcome}">{Header}</h3>
            <div>
                <form id="updateOrder" name="updateOrder" action="#" th:action="@{/updateorder}" th:object="${updateOrder}" method="post">
                    <input type="hidden" id="id" name="id" th:field="*{id}">
                    <input type="hidden" id="archived" name="archived" th:field="*{archived}">
                    <div class="form-group">
                        <label for="date" th:text="#{order.creation_date}">{Category}</label>
                        <input class="form-control" id="date" name="date" th:field="*{creationDate}" th:placeholder="#{order.creation_date}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="date" th:text="#{order.author}">{Author}</label>
                        <input class="form-control" id="author" name="author" th:field="*{author}" th:placeholder="#{order.none}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="date" th:text="#{order.manager}">{Manager}</label>
                        <input class="form-control" id="manager" name="manager" th:field="*{manager}" th:placeholder="#{order.none}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="date" th:text="#{order.master}">{Master}</label>
                        <input class="form-control" id="master" name="master" th:field="*{master}" th:placeholder="#{order.none}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="category" th:text="#{order.category}">{Category}</label>
                        <select class="form-control" type="text" id="category" name="category" th:field="*{category}"
                                required th:disabled="!${#lists.contains(available, 'category')}">
                            <option th:each="cat : ${categories}" th:text="${cat}" th:value="${cat}">{category}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="item" th:text="#{order.item}">{Item name}</label>
                        <input class="form-control" type="text" id="item" name="item" th:field="*{item}" th:placeholder="#{order.item}"
                               required th:disabled="!${#lists.contains(available, 'item')}">
                    </div>
                    <div class="form-group">
                        <label for="complaint" th:text="#{order.complaint}">{What's up with it}</label>
                        <textarea class="form-control" id="complaint" name="complaint" th:field="*{complaint}" th:placeholder="#{order.complaint}" rows="2"
                                  th:disabled="!${#lists.contains(available, 'complaint')}">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="status" th:text="#{order.price}">{Price}</label>
                        <input class="form-control" id="price" name="price" th:field="*{price}" th:placeholder="#{order.none}" type="number" min="0"
                               required th:disabled="!${#lists.contains(available, 'price')}">
                    </div>
                    <div class="form-group">
                        <label for="status" th:text="#{order.status}">{Status}</label>
                        <input class="form-control" id="status" name="status" th:field="*{status}" th:placeholder="#{order.status}" disabled>
                    </div>
                    <div class="form-group">
                        <label for="managerComment" th:text="#{order.manager_comment}">{Manager comment}</label>
                        <textarea class="form-control" id="managerComment" name="managerComment" th:field="*{managerComment}" rows="2"
                                  th:disabled="!${#lists.contains(available, 'manager_comment')}">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="masterComment" th:text="#{order.master_comment}">{Master comment}</label>
                        <textarea class="form-control" id="masterComment" name="masterComment" th:field="*{masterComment}" rows="2"
                                  th:disabled="!${#lists.contains(available, 'master_comment')}">
                        </textarea>
                    </div>
                    <div class="form-group" th:if="*{archived}">
                        <div th:text="#{order.user_stars}">{Rating}</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userStars" th:field="*{userStars}" id="star1" value="1"
                                   th:disabled="!${#lists.contains(available, 'user_stars')}">
                            <label class="form-check-label" for="star1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userStars" th:field="*{userStars}" id="star2" value="2"
                                   th:disabled="!${#lists.contains(available, 'user_stars')}">
                            <label class="form-check-label" for="star2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userStars" th:field="*{userStars}" id="star3" value="3"
                                   th:disabled="!${#lists.contains(available, 'user_stars')}">
                            <label class="form-check-label" for="star3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userStars" th:field="*{userStars}" id="star4" value="4"
                                   th:disabled="!${#lists.contains(available, 'user_stars')}">
                            <label class="form-check-label" for="star4">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="userStars" th:field="*{userStars}" id="star5" value="5"
                                   th:disabled="!${#lists.contains(available, 'user_stars')}">
                            <label class="form-check-label" for="star5">5</label>
                        </div>
                    </div>
                    <div class="form-group" th:if="*{archived}">
                        <label for="userComment" th:text="#{order.user_comment}">{User comment}</label>
                        <textarea class="form-control" id="userComment" name="userComment" th:field="*{userComment}" rows="2"
                                  th:disabled="!${#lists.contains(available, 'user_comment')}">
                        </textarea>
                    </div>
                    <div>
                        <button class="btn btn-secondary" type="submit" name="action" value="proceed" th:text="${submit}" th:if="${proceed}">{Proceed according to state}</button>
                        <button class="btn btn-secondary" type="submit" name="action" value="cancel" th:text="#{order.action.cancel}" th:if="${cancel}">{Cancel the order}</button>
                        <button class="btn btn-secondary" type="button" onclick="location.href='/lobby'" th:text="#{order.action.lobby}">{Back}</button>
                    </div>
                </form>
            </div>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>
<script th:include="fragments/bootstrap :: js" th:remove="tag"></script>
</body>
</html>