<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{general.title}">REPAIR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
</head>

<body onload="checkFields()">
<div class="container">
    <div th:include="fragments/headers :: header-guest" th:remove="tag"></div>

    <div class="row">
        <div class="col">
            <br />
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span th:text="#{reg.error.generic}">{Reg error}</span>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${duplicate}">
                <span th:text="#{reg.error.duplicate}">{Reg duplicate field}</span>
            </div>
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h1 th:text="#{reg.welcome}">{Welcome header}</h1>
            <h3 th:text="#{reg.header}">{Fill in those fields}</h3>
            <div>
                <form id="newUser" name="newUser" action="#" th:action="@{/newuser}" th:object="${newUser}" method="post">
                    <div class="form-group">
                        <label for="name">
                            <span th:text="#{reg.name}" th:remove="tag">{First name}</span>󠀠
                            <span id="nameYet">🗅</span>
                            <span id="nameCheck">✅</span>
                            <span id="nameFail">❌</span>
                        </label>
                        <input class="form-control" type="text" id="name" name="name" th:field="*{name}" th:placeholder="#{reg.name}" required>
                    </div>
                    <div class="form-group">
                        <label for="login" th:text="#{login.login}">{User name}</label>
                        <span id="loginYet">🗅</span>
                        <span id="loginCheck">✅</span>
                        <span id="loginFail">❌</span>
                        <input class="form-control" type="text" id="login" name="login" th:field="*{login}" th:placeholder="#{login.login}" required>
                    </div>
                    <div class="form-group">
                        <label for="phone" th:text="#{reg.phone}">{First name cyrillic}</label>
                        <span id="phoneYet">🗅</span>
                        <span id="phoneCheck">✅</span>
                        <span id="phoneFail">❌</span>
                        <input class="form-control" type="text" id="phone" name="phone" th:field="*{phone}" th:placeholder="#{reg.phone}" required>
                    </div>
                    <div class="form-group">
                        <label for="email" th:text="#{reg.email}">{Email}</label>
                        <span id="emailYet">🗅</span>
                        <span id="emailCheck">✅</span>
                        <span id="emailFail">❌</span>
                        <input class="form-control" type="email" id="email" name="email" th:field="*{email}" th:placeholder="#{reg.email}">
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{login.password}">{Password}</label>
                        <input class="form-control" type="password" id="password" name="password" th:placeholder="#{login.password}" required>
                    </div>
                    <div>
                        <input class="btn btn-secondary" type="submit" th:value="#{reg.submit}">
                    </div>
                </form>
            </div>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>

<script type="text/javascript" th:inline="javascript">
    var inputFieldName = document.forms["newUser"]["name"];
    var inputFieldLogin = document.forms["newUser"]["login"];
    var inputFieldPhone = document.forms["newUser"]["phone"];
    var inputFieldEmail = document.forms["newUser"]["email"];
    var inputFieldPassword = document.forms["newUser"]["password"];

    var nameRegex = [[${nameRegex}]];
    var loginRegex = [[${loginRegex}]];
    var phoneRegex = [[${phoneRegex}]];

    inputFieldName.addEventListener("blur", function () {
        checkField(inputFieldName, nameRegex)
    }, false)

    inputFieldLogin.addEventListener("blur", function () {
        checkField(inputFieldLogin, loginRegex)
    }, false)

    inputFieldPhone.addEventListener("blur", function () {
        checkField(inputFieldPhone, phoneRegex)
    }, false)

    inputFieldEmail.addEventListener("blur", function () {
        checkEmail(inputFieldEmail)
    }, false)

    function checkFields(){
        checkField(inputFieldName, nameRegex);
        checkField(inputFieldLogin, loginRegex);
        checkField(inputFieldPhone, phoneRegex);
        checkEmail(inputFieldEmail);
    }

    function checkField(field, constraint) {
        regex = new RegExp(constraint);
        var result = regex.test(field.value);
        setMarks(field, result);
    }

    function checkEmail(field) {
        setMarks(field, field.validity.valid);
    }

    function setMarks(field, valid) {
        yetmark = document.getElementById(field.name + "Yet")
        checkmark = document.getElementById(field.name + "Check");
        failmark = document.getElementById(field.name + "Fail");

        if (field.value != undefined && field.value.length == 0) {
            yetmark.style.display = "inline";
            checkmark.style.display = "none";
            failmark.style.display = "none";
        } else if (valid) {
            yetmark.style.display = "none";
            checkmark.style.display = "inline";
            failmark.style.display = "none";
        }   else {
            yetmark.style.display = "none";
            checkmark.style.display = "none";
            failmark.style.display = "inline";
        }
    }
</script>

<script th:include="fragments/bootstrap :: js" th:remove="tag"></script>
</body>
</html>