<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{general.title}">REPAIR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
</head>
<body>
<div class="container">
    <div th:include="fragments/headers :: header-user" th:remove="tag"></div>

    <div class="row">
        <div class="col">
            <br />
            <div class="alert alert-danger" role="alert" th:if="${error}">
                <span th:text="#{users.error}">{User manipulation error}</span>
            </div>
            <div class="alert alert-success" role="alert" th:if="${success}">
                <span th:text="#{users.success}">{User manipulation success}</span>
            </div>
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h3 th:text="#{users.header} + ':'">{Here goes user table}</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th th:text="#{users.name}">{Self-reference}</th>
                        <th th:text="#{users.phone}">{Phone}</th>
                        <th th:text="#{users.role}">{Role}</th>
                        <th th:text="#{users.set.header}">{Set role}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td>
                            👉 <span th:text="${user.name}" th:remove="tag">{User name}</span>
                        </td>
                        <td>
                            <span th:text="${user.phone}" th:remove="tag">{Phone}</span>
                        </td>
                        <td>
                            <span th:text="${user.role}" th:remove="tag">{Role}</span>
                        </td>
                        <td>
                            <a th:href="'/setrole?login=' + ${user.login} + '&role=ROLE_ADMIN'" th:title="#{users.set.admin}">💡</a>
                            <a th:href="'/setrole?login=' + ${user.login} + '&role=ROLE_MANAGER'" th:title="#{users.set.manager}">‍💻</a>
                            <a th:href="'/setrole?login=' + ${user.login} + '&role=ROLE_MASTER'" th:title="#{users.set.master}">🛠️</a>
                            <a th:href="'/setrole?login=' + ${user.login} + '&role=ROLE_USER'" th:title="#{users.set.user}">👤</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>
<script th:include="fragments/bootstrap :: js" th:remove="tag"></script>
</body>
</html>