<!DOCTYPE HTML>
<!--suppress HtmlUnknownAttribute -->
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="#{general.title}">REPAIR</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-theme.css">
</head>
<body>
<div class="container">
    <div th:include="fragments/headers :: header-user" th:remove="tag"></div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div class="row bg-light">
        <div class="col">
            <h3 th:text="#{users.header} + ':'">{Here goes user table}</h3>
            <table>
                <tr th:each="user : ${users}">
                    <td class="w-30">
                        👉 <span th:text="${user.name}" th:remove="tag">{User name}</span>
                        <br /><br />
                    </td>
                    <td class="w-30">
                        <span th:text="${user.phone}" th:remove="tag">{Phone}</span>
                        <br /><br />
                    </td>
                    <td class="w-30">
                        <span th:text="${user.role}" th:remove="tag">{Role}</span>
                        <br /><br />
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <br />
        </div>
    </div>

    <div th:include="fragments/footer :: footer"></div>
</div>
<script th:include="fragments/bootstrap :: js" th:remove="tag"></script>
</body>
</html>